#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
character-set-server = utf8mb4
collation-server = utf8mb4_bin
log-bin-trust-function-creators = 1

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d