[client-server]
default-character-set = utf8mb4
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
#log-bin-trust-function-creators = 1

# Include /my.cnf.d directory
!includedir /etc/my.cnf.d

